language: java
jdk: openjdk8

services:
  - docker

before_script:
  - docker network create mycassandranetwork
  - docker run -p 9042:9042 --rm --name mycassandra --network mycassandranetwork -d cassandra
  - docker run -it --network mycassandranetwork --rm -v $(pwd):/tmp cassandra cqlsh -f /tmp/test.cql mycassandra