name: Build & Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  unit-test:
    name: Unit Test -- Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Run Unit Tests With Maven
      run: mvn -B test package

    - name: Cache Built Code
      uses: actions/cache@v2
      with:
        key: built-code-${{ github.run_id }}
        path: ./**/target

    - name: Archive Test Results
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: test-reports-jdk${{ matrix.java }}
        path: ./**/target/surefire-reports

    - name: Save Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: liquibase-cassandra
        path: |
          target/*.jar

  integration-tests:
    name: Integration Tests -- Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    needs: unit-test
    strategy:
      matrix:
        java: [8, 11]
    services:
      cassandra-3:
        image: liquibase/liquibase:cassandra-test-3
        ports:
          - "9042:9042"
      cassandra-4:
        image: liquibase/liquibase:cassandra-test-4
        ports:
          - "9043:9042"
    steps:
      - uses: actions/checkout@v2

      - name: Restore Built Code
        uses: actions/cache@v2
        with:
          key: built-code-${{ github.run_id }}
          path: ./**/target

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Start Cassandra Container
        run: docker run -p 9042:9042 -v $(pwd):/app --name mycassandra -d cassandra

      - name: Wait for cassandra to start up
        run: sleep 90s

      - name: Check cassandra status
        run: docker ps -a

      - name: Check cassandra logs
        run: docker logs mycassandra

      - name: Load Cassandra Config
        run: docker exec mycassandra cqlsh localhost 9042 -f /app/test.cql

      - name: Run Tests
        run: mvn -B test verify

      - name: Archive Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: test-reports-integration-jdk${{ matrix.java }}-cassandra${{ matrix.cassandra }}
          path: ./**/target/surefire-reports
